.accordion {
    width: 1000px;
    padding: 20px;
  }
.accordion-button {

    background-color:#0d6efd91;
    background-color:#0d6efd91;


    
}
.accordion {
    padding: 30px
}
.accordion-button:not(.collapsed) {
    color: #0d6efd91; /* или любой другой цвет */
    box-shadow: none; /* Убираем тень */
    background-color: #0d6efd91; /* Если нужно */
}
.accordion-item {
    border: none;
}
.accordion-item:hover {
    border: none;
}
.img-name h6{

    font-size: 20px;
    font-weight: 600;
    color:#000000;
}
.img-date h6 {
    font-size: 14px;
    font-weight: 400;
    color:#000000;

}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #a9cdf4; /* Цвет рамки */
}

.container-column-panel-left  {
    margin-left: 60px;
}

.img-avatar {

    width: 30px;
    height: 30px;

}

.btn-reply {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


